<div class="row">
    <div class="col-12 col-lg">
	<h1><%= @course.full_name %></h1>
	<h4><%= @course.title %></h4>
	<% unless @rating.nil? %>
	    <%= render partial: 'shared/stars', locals: { percent: @course.rating[0]/5*100 } %>
	    Average course rating: <%= @course.rating[0] %> / <%= @course.rating[1] %> responses
	<% end %>

	<div class="d-flex mt-2">
	    <div class="attr-list justify-content-start">
		<div class="attr">
		    <div class="icon">
			<i class="fa fa-book"></i>
		    </div>
		    <%= @course.credits %> credits
		</div>
		&nbsp;&nbsp;&nbsp;
		<div class="attr">
		    <div class="icon">
			<i class="fa fa-bars"></i>
		    </div>
		    <%= @sections.count %> sections
		</div>
	    </div>
	</div>
	<p class="mt-3"><%= @course.description %></p>
    </div>

    <div class="col-12 col-lg">
	<%= render partial: 'shared/section', collection: @sections %>
    </div>
</div>


<%= javascript_pack_tag 'instructor' %>
<%= stylesheet_link_tag 'search' %>
