<nav>
  <span><a href="/"><i class="fas fa-calendar-alt"></i> Schedules</a></span>
  <form id="search-container" action="/search" method="GET">
    <input name="query" placeholder="PSYC, CS 112, 71926, Jonathan Bell, ..." value="<%= params[:query] %>"/>
    <button type="submit">
      <i class="fas fa-search"></i>
    </button>
  </form>
</nav>

<div class="search-results">
  <% @courses.each do |course| %>
    <section class="course">
      <h4><a href="/courses/<%= course['id'] %>"><%= course['subject'] %> <%= course['course_number'] %></a></h4>  
      <h5><em><%= course['title'] %>. <%= course['credits'] %> <%= 'credit'.pluralize(course['credits'].to_i) %>.</em></h5>

      <span class="description"><%= course['description'] %></span>
      <a href="/courses/<%= course['id'] %>" class="see-more">View Sections</a>
    </section>
  <% end %>
</div>

<%= stylesheet_link_tag 'search' %>
