<%= render(partial: 'shared/navbar') %>

<div class="search-results">
  <% (@instructors || []).each do |inst| %>
    <section class="instructor">
      <h4><a href="/instructors/<%= inst.id %>"> <%= inst.name %></a></h4>
      <!-- TODO: add instructor rating. My local database does not have instructor ratings so I have been unable to implement it.-->
      <button class = "collapse-button" data-toggle="collapse" data-target="#instructor-<%= inst.id %>-sections" role="button" aria-expanded="false" aria-controls="instructor-<%= inst.id %>-sections">
          &#x27A4; Sections
      </button>
      <div class="collapse" id="instructor-<%= inst.id %>-sections">
          <% sections = CourseSection.where(instructor: inst) %>
          <% (sections || []).each do |section| %>
              <li class="instructor-section">
                <a href="/courses/<%= section['course_id'] %>#section-<%= section['id'] %>"><%= section['name'] %></a> <em><%= section['title'] %>.</em>
              </li>
          <% end %>
      </div>
    </section>
  <% end %>
  
  <% (@courses || []).each do |course| %>
    <section class="course">
      <h4><a href="/courses/<%= course['id'] %>"><%= course['subject'] %> <%= course['course_number'] %></a></h4>  
      <h5><em><%= course['title'] %>. <%= course['credits'] %> <%= 'credit'.pluralize(course['credits'].to_i) %>.</em></h5>

      <span class="description"><%= course['description'] %></span>
      <a href="/courses/<%= course['id'] %>" class="see-more">View Sections</a>
    </section>
  <% end %>

  <% if (@courses&.empty? || @courses.nil?) && (@instructors&.empty? || @instructors.nil?) %>
    <span>No results found. Please try again with another search term.</span>
  <% end %>
</div>
