<div class="card" id="course-<%= course.id %>" onclick="toggleSections(this)" data-course="<%= course.to_json %>">
  <div class="card-body">
    <div>
      <h3 style="float: left"><%= "#{course.subject} #{course.course_number}" %></h3>
      <h5 style="float: right"><em><%= course.title %></em>. <%= course.credits %> credits.</h5>
    </div>

    <div style="clear: both"> </div>

    <p class="description"><%= course.description %></p>

    <div class="d-block" style="text-align: center">
      <i class="fas fa-chevron-down"></i>
    </div>

    <!-- List of Course Sections -->
    <ul class="list-group list-group-flush" id="sections" style="display:none">
	<%= render partial: 'section', collection: course.course_sections, locals: { in_cart: false } %>
    </ul>
  </div>
</div>
