<section class="course">
  <h4><%= link_to("#{course.subject} #{course.course_number}", course)%></h4>  

  <h5><em><%= course.title %>. <%= course.credits %> <%= 'credit'.pluralize(course.credits.to_i) %>.</em></h5>

  <span class="description"><%= course.description %></span>

  <% unless course.prereqs.nil? || course.prereqs.empty? %>
    <% first, rest = course.prereqs.split(':') %>
    <% prereqs, note = rest.split('.') %>
    <span class="prereqs"><b><%= first %>:</b> <%= prereqs %> <sub><%= note %></sub></span>
  <% end %>

  <%= link_to("View Sections", course, class: "see-more") %>
</section>
