<% expanded = false unless defined? expanded %>

<div class="card" id="course-<%= course.id %>" onclick="toggleSections(this)">
    <div class="card-header">
	<div class="row">
	    <div class="col">
		<h4 class="title"><%= "#{course.subject} #{course.course_number}" %></h4>
	    </div>
	    
	    <div class="col">
		<h4 id="add-course-btn" class="text-right" onclick="addCourse(event, '<%= course.id %>');">
		    <i class="fas fa-plus" style="color: green"></i>
		</h4>
	    </div>    
	</div>
	<h5><em><%= course.title %></em></h5>
    </div>
    <div class="card-body">
	<div class="attr-list justify-content-start">
	    <div class="attr">
		<div class="icon">
		    <i class="fa fa-book"></i>
		</div>
		3 credits
	    </div>
	    &nbsp;&nbsp;&nbsp;
	    <div class="attr">
		<div class="icon">
		    <i class="fa fa-bars"></i>
		</div>
		<!-- TODO: FIX THIS -->
		<%#= "#{course.section_count}" %> 3 sections
	    </div>
	</div>
	<p class="description"><%= course.description %></p>

	<% unless course.prereqs.nil? || course.prereqs.empty? %>
    	    <% first, rest = course.prereqs.split(':') %>
    	    <% prereqs, note = rest.split('.') %>
    	    <p><strong><%= first %>:</strong> <%= prereqs %> <sub><%= note %></sub></p>
	<% end %>
	
	<div class="d-block" style="text-align: center">
  	    <p style="margin-bottom:-4px; font-size: 10px;">Expand</p>
  	    <i class="fas fa-chevron-down"></i>
	</div>
	
	<!-- List of Course Sections -->
	<div class="list-group list-group-flush sections" style="display: <%= expanded ? "flex" : "none" %>">
	    <% if defined?(@instructor) %>
		<%= render partial: 'shared/section', collection: course.course_sections.where(instructor: @instructor), locals: { course: course } %>
	    <% else %>
		<%= render partial: 'shared/section', collection: course.course_sections, locals: { course: course } %>
	    <% end %>
	</div>
    </div>
</div>
