<% expanded = false unless defined? expanded %>

<% if defined?(@instructor) %>
    <% sections = course.course_sections.where(instructor: @instructor, semester: @semester).order(:name) %>
<% else %>
    <% sections = course.course_sections.where(semester: @semester).order(:name) %>
<% end %>

<div class="card course-card" id="course-<%= course.id %>">
    <div class="card-header">
	<div class="row">
	    <div class="col">
		<%= link_to course do %>
		    <h4 class="title"><%= "#{course.subject} #{course.course_number}" %></h4>
		<% end %>
	    </div>
	</div>
	<h5><em><%= course.title %></em></h5>
    </div>
    <div class="card-body">
	<div class="attr-list justify-content-start">
	    <div class="attr">
		<div class="icon">
		    <i class="fa fa-book"></i>
		</div>
		<%= course.credits %> credits
	    </div>
	    &nbsp;&nbsp;&nbsp;
	    <div class="attr">
		<div class="icon">
		    <i class="fa fa-bars"></i>
		</div>
		 <%= sections.count %> sections
	    </div>
	</div>
	<p class="description"><%= course.description %></p>

	<% unless course.prereqs.nil? || course.prereqs.empty? %>
    	    <% first, rest = course.prereqs.split(':') %>
    	    <% prereqs, note = rest.split('.') %>
    	    <p><strong><%= first %>:</strong> <%= prereqs %> <sub><%= note %></sub></p>
	<% end %>

	<% unless course.rating.nil? %>
	    <p>This course has a <%= course.rating %> / 5 rating.</p>
	<% end %>  
	
	<% if expanded %>
		<div class="d-block" style="text-align: center">
	  	    <p id="chevron-label" style="margin-bottom:-4px; font-size: 10px;">Minimize</p>
	  	    <i id="course-chevron" class="fas fa-chevron-up"></i>
		</div>
	<% else %>
		<div class="d-block" style="text-align: center">
	  	    <p id="chevron-label" style="margin-bottom:-4px; font-size: 10px;">Expand</p>
	  	    <i id="course-chevron" class="fas fa-chevron-down"></i>
		</div>
	<% end %>


	
	<!-- List of Course Sections -->
	<div class="list-group list-group-flush sections" style="display: <%= expanded ? "flex" : "none" %>">
	    <%= render partial: 'shared/section', collection: sections, locals: { course: course } %>
	</div>
    </div>
</div>
