<% if in_cart %>
    <div id="section-<%= section.crn %>"
	      class="list-group-item schedule-section-card"
	      data-crn="<%= section.crn %>"
	      onclick="removeFromSchedule(this)">
    	<ul class="attr-list">
      	<li><b class="subj"><%= "#{section.name}" %></b>:  <%= section.title %></li>
      	<li><i class="fas fa-map-marker-alt"></i> <%= section.location %></li>
      	<li><i class="fas fa-chalkboard-teacher"></i> <%= link_to section.instructor.name, instructor_path(section.instructor) %> </li>
      	<li><i class="fas fa-clock"></i> <%= "#{section.days}, #{section.start_time}-#{section.end_time}" %></li>
      </ul>
    </a>
  </div>

<% else %>
    <div id="section-<%= section.crn %>"
	      class="list-group-item section-item <%= "selected" if @cart.include? section %>"
	      data-crn="<%= section.crn %>"
	      onclick="addOrRemoveFromSchedule(event, this)">
	  <div class="unpadded container">
	    <div class="row">
	      <div class="col">
	        <b class="subj"><%= "#{section.name}" %></b>:  <%= section.title %>
	      </div>
	      <div class="col text-right">
	        <i class="fas fa-map-marker-alt"></i> <%= section.location %>
	      </div>
	    </div>
	    <div class="row">
	      <div class="col">
	        <i class="fas fa-chalkboard-teacher"></i> <%= link_to section.instructor.name, instructor_path(section.instructor) %>
	      </div>
	      <div class="col text-right">
	        <i class="fas fa-clock"></i> <%= "#{section.days}, #{section.start_time}-#{section.end_time}" %>
	      </div>
	    </div>
	  </div>
  </div>
<% end  %>


