<li id="section-<%= section.id %>" class="list-group-item card section-item">
    <p><strong class="subj"><%= "#{section.name}" %></strong>:  <%= section.title %> <em><%= "(##{section.crn})"%></em></p>

    <i class="fas fa-chalkboard-teacher"></i>
    <% if section.instructor.name == "TBA" %>
	TBA
    <% else %>
	<%= link_to section.instructor.name, section.instructor %>
	<% unless section.instructor.rating.nil? %>
	    <%= render partial: 'shared/stars', locals: { percent: (section.instructor.rating[0] / 5 * 100).to_i }%>
	<% end %>
	
    <% end %>
    <br/>

    
    <i class="fas fa-map-marker-alt"></i> <%= section.location %> <br/>
    <i class="fas fa-clock"></i> <%= "#{section.days}, #{section.start_time}-#{section.end_time}" %> <br/>

    <% unless section.rating_questions.empty? %>
	<br/>
	<b>Rating Info</b> (<%= link_to("See all ratings", course_section_url(section))%>)
	<ul>
	    <li>Instructor rating: <%= section.teaching_rating %></li>
	    <li>Course rating: <%= section.course_rating %></li>
	</ul>
    <% end %>
</li>
