<div class="row">
    <div class="col-lg-4 col-12 mb-4">
	<h1><%= @instructor.name %></h1>
	
	<% unless @rating[:teaching].nil? %>
	    Average teaching rating: <%= @rating[:teaching][0] %> / <%= @rating[:teaching][1] %> responses
	<% end %>
    </div>
    
    <div class="col-lg-8 col-12">
	<% @semesters.each do |semester, sections| %>
	    <h2><%= semester %></h2>
	    <%= render(partial: 'shared/section', collection: sections) %>
	    <br/>
	<% end %>
    </div>
</div>

<%= javascript_pack_tag 'instructor' %>
<%= stylesheet_link_tag 'search' %>
