<div class="row">
    <div class="col-lg-4 col-12">
	<h1><%= @instructor.name %></h1>
	<% if @past.count.positive? %>
	    <strong>Previously taught: </strong>
	    <ul>
		<% @past.each do |c| %>
		    <li><%= link_to c.full_name, course_path(c)  %></li>
		<% end %>
	    </ul>
	<% end %>
    </div>

    <div class ="col-lg-8 col-12">
	<h3><%= @semester.to_s %></h3>
	<% if @courses.any? %>
	    <%= render partial: 'shared/course', collection: @courses, locals: { expanded: true } %>
	<% else %>
	    <p><%= @instructor.name %> is not teaching any courses this semester...</p>
	<% end %>
    </div>
</div>

<%= javascript_pack_tag 'search' %>
<%= stylesheet_link_tag 'search' %>
