<!DOCTYPE html>
<html lang="en-us">
    <head>
	<title>Schedules</title>
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Bootstrap	-->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<!-- FontAwesome icons -->
	<script src="https://kit.fontawesome.com/ea45f7e94d.js" crossorigin="anonymous"></script>

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap" rel="stylesheet">

	<!-- FB/Opengraph tags -->
	<meta property="og:url" content="https://schedules.gmu.edu/">
	<meta property="og:type" content="website">
	<meta property="og:title" content="SRCT Schedules">
	<meta property="og:description" content="Browse the GMU catalog, see course reviews, build and share your schedule.">
	<meta property="og:site_name" content="SRCT Schedules">
	<meta property="og:locale" content="en_US">
	<meta property="article:author" content="SRCT">
	
	<!-- Twitter card tags -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@MasonSRCT">
	<meta name="twitter:creator" content="@MasonSRCT">
	<meta name="twitter:url" content="https://schedules.gmu.edu/">
	<meta name="twitter:title" content="SRCT Schedules">
	<meta name="twitter:description" content="Browse the GMU catalog, see course reviews, build and share your schedule.">

	<!-- favicons -->
	<%= favicon_link_tag %>
	<link href="<%= asset_path 'favicon-32x32.png' %>" sizes="32x32" rel="shortcut icon" type="image/png" />

	<!-- Custom styles and code -->
	<%= stylesheet_link_tag('application') %>
	<%= javascript_pack_tag('application') %>
    </head>

    <body>
		<%= render 'shared/page' do %>
			<%= yield %>
		<% end %>

		<!-- Matomo -->
		<script type="text/javascript">
			var _paq = _paq || [];
			/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
			_paq.push(['trackPageView']);
			_paq.push(['enableLinkTracking']);
			(function() {
				var u="//matomo.srct.gmu.edu/";
				_paq.push(['setTrackerUrl', u+'piwik.php']);
				_paq.push(['setSiteId', '3']);
				var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
				g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
			})();
		</script>
    </body>
</html>
