<!DOCTYPE html>
<html data-turbolinks="false">
    <head>
	<title>Schedules</title>
	<%= csrf_meta_tags %>

	<%= javascript_include_tag 'masonstrap.min' %>
	<%= javascript_include_tag 'FileSaver' %>
	<%= javascript_include_tag 'application' %>
	
	<%= stylesheet_link_tag 'masonstrap.min' %>	
	<%= stylesheet_link_tag 'application' %>
    </head>

    <body data-turbolinks="false">
	<%= render partial: 'shared/navbar' %>
	<%= yield %>
	<%= render partial: 'shared/cart'%>
    </body>

    <%= javascript_tag do %>
     document.addEventListener('DOMContentLoaded', () => {
	 this.schedule = new Schedule();
     });

     document.addEventListener('turbolinks:load', () => {
	 FontAwesome.dom.i2svg();
     });
    <% end %>
</html>
