<!DOCTYPE html>
<html>
    <head>
	<title>Schedules</title>
	<%= csrf_meta_tags %>

	<%= javascript_include_tag 'masonstrap.min' %>
	<%= javascript_include_tag 'application' %>
	
	<%= stylesheet_link_tag 'masonstrap.min' %>
	<%= stylesheet_link_tag 'application' %>
    </head>

    <body>
	<%= render partial: 'shared/navbar' %>
	<%= render 'shared/page' do %>
	    <%= yield %>
	<% end %>
	<%= render partial: 'shared/cart'%>
    </body>
</html>
