<!DOCTYPE html>
<html>
    <head>
	<title>Schedules</title>
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<%= javascript_include_tag 'masonstrap.min' %>
	
	<%= stylesheet_link_tag 'masonstrap.min' %>
	<%= stylesheet_link_tag 'application' %>

	<%= javascript_pack_tag 'application' %>

	<!-- FB/Opengraph tags -->
	<meta property="og:url" content="https://schedules.gmu.edu/">
	<meta property="og:type" content="website">
	<meta property="og:title" content="SRCT Schedules">
	<meta property="og:description" content="Easily generate a calendar with your class schedule.">
	<meta property="og:site_name" content="SRCT Schedules">
	<meta property="og:locale" content="en_US">
	<meta property="article:author" content="SRCT">
	
	<!-- Twitter card tags -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@MasonSRCT">
	<meta name="twitter:creator" content="@MasonSRCT">
	<meta name="twitter:url" content="https://schedules.gmu.edu/">
	<meta name="twitter:title" content="SRCT Schedules">
	<meta name="twitter:description" content="Easily generate a calendar with your class schedule.">
    </head>

    <body>
	<%= render partial: 'shared/navbar' %>
	<%= render 'shared/page' do %>
	    <%= yield %>
	<% end %>

	<!-- Matomo -->
	<script type="text/javascript">
         var _paq = _paq || [];
         /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
         _paq.push(['trackPageView']);
         _paq.push(['enableLinkTracking']);
         (function() {
             var u="//matomo.srct.gmu.edu/";
             _paq.push(['setTrackerUrl', u+'piwik.php']);
             _paq.push(['setSiteId', '3']);
             var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
             g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
         })();
	</script>
	<!-- End Matomo Code -->
    </body>
</html>
